* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

.container {
    margin: 0 23px;
}

.header {
    height: 50px;
    width: auto;
    background-color: #fff;
    z-index: 1;
}

.header__logo {
    display: block;
    margin-top: 7px;
    text-decoration: none;
    text-align: center;
}

.header__img {
    height: 31px;
    width: 31px;
}

.header__name {
    font-size: 5px;
    font-weight: 300;
    line-height: 5.86px;
    color: #000;
}

.menu__btn {
    position: absolute;
    top: 22px;
    right: 23px;
}

.menu__btn > span {
    display: flex;
    position: relative;
    width: 17px;
    height: 0;
    margin-bottom: 5px;
    border: .6px solid #000;
    border-radius: 3px;
    transition: .3s;
}

span.active {
    width: 20px;
    transform: rotate(45deg) translate(-4px, -5px);
}

span:nth-last-child(3).active {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

span:nth-last-child(2).active {
    transform: rotate(-45deg) translate(0, 0);
}

.menu__list {
    list-style: none;
    text-align: right;
    background-color: red;
}

.menu__list-item {
    padding: 15px 10px;
    font-size: 1.4rem;
}

.menu__list-link {
    text-decoration: none;
    color: #000;
   
}

.menu__line {
    display: none;
}