* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

.container {
    margin: 0 23px;
}

.btn {
    padding: 11px 40px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #B40827;
    font-size: 12px;
    line-height: 14px;
    outline: none;
    transition: .3s;
}

.line {
    width: 60px;
    height: 1.5px;
    margin: 0 auto;
    background-color: #B40827;
    border: none;
}

.btn:hover,
.btn:active {
    border: 1px solid #B40827;
    color: #B40827;
    background-color: #fff;
    outline: none;
}

.header {
    height: 50px;
    width: auto;
    background-color: #fff;
    z-index: 1;
}

.header__logo {
    display: block;
    margin-top: 7px;
    text-decoration: none;
    text-align: center;
}

.header__img {
    height: 31px;
    width: 31px;
}

.header__name {
    font-size: 5px;
    font-weight: 300;
    line-height: 5.86px;
    color: #000;
}

.menu__btn {
    position: absolute;
    top: 22px;
    right: 23px;
}

.menu__btn > span {
    display: flex;
    position: relative;
    width: 17px;
    height: 0;
    margin-bottom: 5px;
    background-color: #000;
    border: .6px solid #000;
    border-radius: 3px;
    transition: .3s;
}

span.active {
    width: 20px;
    transform: rotate(45deg) translate(-4px, -5px);
}

span:nth-last-child(3).active {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

span:nth-last-child(2).active {
    transform: rotate(-45deg) translate(0, 0);
}

.menu__list {
    display: none;
    height: calc(100vh - 50px);
    list-style: none;
    text-align: right;
    background-color: #fff;
    transform: translate(100%);
    transition: .3s;
}

.menu__list.active {
    display: block;
    transform: translate(0%);
}

.menu__list-item {
    padding: 15px 10px;
    font-size: 1.4rem;
}

.menu__list-link {
    text-decoration: none;
    color: #000;
   
}

.menu__line {
    display: none;
}

.top {
    margin: 26px 0 36px;
    text-align: center;
}

.top__logo {
    height: 30px;
    width: 30px;
}

.top__name {
    font-weight: 300;
    font-size: 40px;
    line-height: 46px;
    margin: 15px auto 30px;
}

.top__line {
    width: 102px;
    height: 1px;
    margin: 0 auto;
    border: none;
    background-color: #000;
    
}

.top__text {
    width: 280px;
    margin: 25px auto 35px;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
}

.top__text-bold {
    font-weight: 600;
}

.top__img {
    display: flex;
    height: 275px;
    width: auto;
    margin: 33px 0 36px;
    align-items: left;
}

.reasons__inner {
    background-color: #E8E8E8;
    padding: 39px 23px 52px 25px;
}

.reasons__title {
    height: 34px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.reasons__item {
    margin-bottom: 36px;
    display: flex;
}

.reasons__item:first-of-type {
    margin-top: 30px;
}

.reasons__item:last-of-type {
    margin-bottom: 0;
}


.reasons__item-img {
    width: 59px;
    height: 59px;
}

.reasons__title-descr {
    margin-left: 26px;
}

.reasons__item-title {
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #B40827
}

.reasons__item-text {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
}